@import "base";

html, body {
  background: #333;
  color: white;
}

main {
  padding: 16px;
  margin: auto;
  max-width: 800px;

  @media @mobile {
    font-size: 20px;
  }
}

.logo {
  max-width: 100px;
  margin: 20px auto;
  display: block;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: white;
}

h2, h3, h4 {
  font-weight: normal;
  font-family: @sans;
  text-transform: uppercase;
  color: white;
}

p code, copy-box {
  font-weight: bold;
  background: white;
  color: black;
  font-family: monospace;
}

pre {
  background: #F8F8F8;
  color: #222;
  padding: 16px;
  overflow-y: auto;
  white-space: pre-wrap;
}


h4 {
  margin-bottom: 0;
}

.interactive-embed {

  label {
    font-family: @sans;
    display: block;
  }

  input {
    width: 100%;
    display: block;
  }
}